name: CI

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    tests:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2.1.0
            - name: Install Composer dependencies
              run: composer install
            - name: Lint, test
              run: make ci
            - name: Codecov
              uses: codecov/codecov-action@v1.0.6
